.Form{
  .InputWrapper{
    max-width: 380px;
    margin: 0 auto;
  }
  .Radio{
    text-align: left;
  }
  .RadioTitle{
    text-align: left;
    margin: 43px 0 7px 0;
  }
  .Upload{
    margin: 50px 0;
  }
  .Input{
    margin-top: 50px;
  }
}
.FormSuccess{
  .successImg {
    margin: 50px 0 100px 0;
  }
}
