$black87: rgba(0, 0, 0, 0.87);
$error: #CB3D40;

.wrapper {
  display: flex;
  width: 100%;
  max-width: 380px;
  align-items: center;
  position: relative;


  .uploadBtn{
    height: 100%;
    color: $black87;
    border: 1px solid $black87;
    background: transparent;
    padding: 15px 14px;
    border-radius: 4px 0 0 4px;
  }
  .uploadInputLabel{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px 14px;
    border-top: 1px solid #D0CFCF;
    border-right: 1px solid #D0CFCF;
    border-bottom: 1px solid #D0CFCF;
    width: 100%;
    border-radius: 0 4px 4px 0;
    .uploaded{
      color: $black87;
    }
    .unuploaded{
      color: #7E7E7E;
    }
  }
  .uploadInput{
    display: none;
  }
}

.Error{
  .uploadBtn, .uploadInputLabel{
    border-color: $error;
    border-width: 1px;
    box-shadow: inset 0 0 0 1px $error;
  }
  .uploadBtn::after{

  }
  &Text{
    position: absolute;
    width: 100%;
    left: 0;
    top: 63px;
    font-size: 12px;
    line-height: 14px;
    color: $error;
  }
}
