.Hero {
  display: flex;
  align-items: center;
  height: 650px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/pexels-alexandr-podvalny-1227513.jpeg) no-repeat bottom / cover;

  &Wrapper {
    max-width: 380px;
    margin: 0 auto;
    color: #fff;
  }

  &Description {
    margin: 21px 0 32px;
  }
}

.Large {
}

.Medium {

}

.Small {
  height: 500px;
}

.ExtraSmall {
  height: 500px;
  padding: 0 16px;

  .Hero {
    &Wrapper {
      max-width: 350px;
    }
  }
}
